<!--
<div class="search">
  <div class="identity">
    <p>IDENTITY UNKNOWN</p>
    </div>
    <div class="search-assets">
      <p>SEARCHING ASSETS</p>
    </div>
    <div class="assets">
    <ul id="zoomout">
      <li>
        <div class="rank">
        ADMIN:
        </div>
      <div class="name">
        FINCH, HAROLD
      </div>
      </li>
      <li>
        <div class="rank">
        AUX_ADMIN:
        </div>
      <div class="name">
        INGRAM, NATHAN
      </div>
      </li>
      <li>
        <div class="rank">
        PRIMARY ASSET:
        </div>
      <div class="name">
        REESE, JOHN
      </div>
      </li>
    </ul>

  </div>
</div>
-->

<div id="waveform">

</div>
